@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
body {
  background-color: rgb(22, 22, 22);
  color: rgb(16, 16, 16);
  font-family: "Questrial", sans-serif;
  overflow-x: hidden;
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

#mainHeader {
  font-size: 16em;
  word-wrap: break-word;
}

canvas#mainCanvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
